.tm-mega-menu-launch {
  background: #f62e46;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  margin: 0 0 0 5px;
  padding: 5px 6px;
  vertical-align: top;
  visibility: hidden; }
  .tm-mega-menu-launch:before {
    display: inline-block;
    content: '\f111';
    font: normal 12px/10px 'dashicons';
    margin: 0 2px 0 0;
    vertical-align: top;
    -webkit-font-smoothing: antialiased; }
  .tm-mega-menu-launch:hover {
    background: #f85f71; }
  .menu-item-handle:hover .tm-mega-menu-launch {
    visibility: visible; }

.menu-item-handle .item-title {
  white-space: nowrap; }
.menu-item-handle:hover .is-submenu {
  display: none; }

.tm-ui-core.white-popup-block {
  background: #fff;
  margin: 40px auto;
  max-width: 870px;
  min-height: 140px;
  padding: 0;
  position: relative;
  text-align: left; }
.tm-ui-core .mfp-close {
  background: #fff;
  border: 1px solid #f62e46;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #f62e46;
  height: 30px;
  line-height: 28px;
  right: -15px;
  top: -15px;
  width: 30px; }
.tm-ui-core .popup-loading_ {
  background: url(../images/loader.gif) no-repeat 0 0;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  width: 50px; }
.tm-ui-core .popup-heading_ {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 20px;
  position: relative;
  z-index: 10; }
  .tm-ui-core .popup-heading_:after {
    clear: both;
    content: '';
    display: block;
    width: 100%; }
  .tm-ui-core .popup-heading_ .tm-mega-menu-save-settings {
    float: right;
    margin: -8px 6px -8px 10px; }
.tm-ui-core .popup-title_ {
  float: left;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0; }
.tm-ui-core .popup-saving_, .tm-ui-core .popup-saved_ {
  float: right;
  font-size: 15px;
  line-height: 26px; }
  .tm-ui-core .popup-saving_ .spinner, .tm-ui-core .popup-saved_ .spinner {
    display: inline-block;
    margin: 3px 0 0 6px;
    vertical-align: middle; }
.tm-ui-core .popup-saved_ {
  color: green; }
  .tm-ui-core .popup-saved_:before {
    content: '\f147';
    display: inline-block;
    font: 23px/20px 'dashicons';
    margin: 0 1px 0 0;
    vertical-align: middle; }
.tm-ui-core .popup-tabs_ {
  background: #2a445d; }
  .tm-ui-core .popup-tabs_:after {
    clear: both;
    content: '';
    display: block;
    width: 100%; }
.tm-ui-core .mega-menu-tabs-content_ {
  background: #fcfcfc;
  float: left;
  position: relative;
  width: 690px; }
.tm-ui-core .mega-menu-tabs-content-item_ {
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0; }
  .tm-ui-core .mega-menu-tabs-content-item_:after {
    clear: both;
    content: '';
    display: block;
    width: 100%; }
.tm-ui-core #widgets {
  background: #f1f1f1;
  float: left;
  margin: 12px auto 0;
  padding: 2px 1px 0;
  position: relative;
  width: 648px; }
  .tm-ui-core #widgets .message {
    font-size: 1.3em;
    margin: 10px 0 15px 0;
    text-align: center; }
    .tm-ui-core #widgets .message i {
      font-size: 0.8em; }
.tm-ui-core #widget_selector {
  float: right;
  font-size: 0.9em;
  margin-bottom: 10px;
  width: 240px; }
.tm-ui-core .ui-sortable-helper {
  display: block; }
.tm-ui-core .drop-area {
  border: 1px dashed #fff;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 5px 10px 5px; }
.tm-ui-core label.mm_enable {
  display: block;
  float: left;
  margin-top: 7px; }
.tm-ui-core .widget {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #222;
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0 1px 2px;
  width: 160px; }
  .tm-ui-core .widget.resize-disabled {
    pointer-events: none; }
  .tm-ui-core .widget .ui-resizable-handle,
  .tm-ui-core .widget .gs-resize-handle {
    background: #fff;
    border: 1px solid #e5e5e5;
    bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: absolute;
    right: -5px;
    top: 5px;
    width: 10px; }
  .tm-ui-core .widget-top {
    border: 0;
    box-shadow: none; }
  .tm-ui-core .widget .widget-inner textarea {
    height: 160px;
    resize: vertical; }
  .tm-ui-core .widget-controls {
    float: left; }
    .tm-ui-core .widget-controls .delete:hover {
      color: red;
      text-decoration: none; }
  .tm-ui-core .widget-inner {
    background: white;
    display: none; }
    .tm-ui-core .widget-inner form {
      margin-bottom: 30px;
      padding: 0 15px 15px 15px; }
    .tm-ui-core .widget-inner p,
    .tm-ui-core .widget-inner select,
    .tm-ui-core .widget-inner input,
    .tm-ui-core .widget-inner textarea {
      font-size: 12px; }
  .tm-ui-core .widget-title {
    float: left; }
    .tm-ui-core .widget-title h4 {
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      overflow: hidden;
      padding: 17px 10px 12px 10px;
      text-overflow: ellipsis;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap; }
    .tm-ui-core .widget-title .spinner {
      float: left;
      margin: 12px 0 0 0;
      padding: 0; }
    .tm-ui-core .widget-title-action {
      float: right;
      padding: 12px 5px 0 0;
      position: relative; }
      .tm-ui-core .widget-title-action a {
        display: inline-block; }
      .tm-ui-core .widget-title-action .widget-columns-resize {
        float: left; }
        .tm-ui-core .widget-title-action .widget-columns-resize a.widget-contract {
          float: left; }
        .tm-ui-core .widget-title-action .widget-columns-resize a.widget-expand {
          float: right; }
        .tm-ui-core .widget-title-action .widget-columns-resize .widget-cols-counter {
          overflow: hidden; }
  .tm-ui-core .widget-edit {
    background: none;
    border: 0;
    color: #aaa;
    display: block;
    font: 400 16px/1 'dashicons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    speak: none;
    text-align: center;
    text-decoration: none !important;
    text-indent: 0; }
    .tm-ui-core .widget-edit:hover {
      color: #777;
      cursor: pointer; }
    .tm-ui-core .widget-edit:after {
      content: '\f119';
      font: 400 20px/1 'dashicons'; }
  .tm-ui-core .widget.open {
    z-index: 999; }
    .tm-ui-core .widget.open .widget-top {
      cursor: move;
      position: relative;
      z-index: 1001; }
      .tm-ui-core .widget.open .widget-top:after {
        display: block;
        clear: both;
        content: ''; }
    .tm-ui-core .widget.open .widget-inner {
      background: #fafafa;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      display: block;
      left: -1px;
      margin-top: -1px;
      min-width: 370px;
      position: absolute;
      z-index: 1000;
      top: 100%; }
    .tm-ui-core .widget.open .widget-edit:after {
      content: '\f335'; }
  .tm-ui-core .widget:hover, .tm-ui-core .widget:hover .widget-inner, .tm-ui-core .widget.open, .tm-ui-core .widget.open .widget-inner, .tm-ui-core .widget.ui-resizable-resizing {
    border: 1px solid #777; }
  .tm-ui-core .widget-cols-counter {
    font-size: 11px;
    line-height: 20px;
    min-width: 30px;
    padding: 0 2px;
    text-align: center;
    display: block; }
    .tm-ui-core .widget-cols-counter b,
    .tm-ui-core .widget-cols-counter i {
      font-style: normal;
      font-weight: normal; }
  .tm-ui-core .widget-resize {
    background: #aaa;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    vertical-align: top;
    width: 15px; }
    .tm-ui-core .widget-resize:hover {
      background: #777; }
  .tm-ui-core .widget-option.disabled:hover {
    color: #aaa; }
  .tm-ui-core .widget[data-columns='1'] {
    width: 52px; }
  .tm-ui-core .widget[data-columns='2'] {
    width: 106px; }
  .tm-ui-core .widget[data-columns='3'] {
    width: 160px; }
  .tm-ui-core .widget[data-columns='4'] {
    width: 214px; }
  .tm-ui-core .widget[data-columns='5'] {
    width: 268px; }
  .tm-ui-core .widget[data-columns='6'] {
    width: 322px; }
  .tm-ui-core .widget[data-columns='7'] {
    width: 376px; }
  .tm-ui-core .widget[data-columns='8'] {
    width: 430px; }
  .tm-ui-core .widget[data-columns='9'] {
    width: 484px; }
  .tm-ui-core .widget[data-columns='10'] {
    width: 538px; }
  .tm-ui-core .widget[data-columns='11'] {
    width: 592px; }
  .tm-ui-core .widget[data-columns='12'] {
    width: 646px; }
  .tm-ui-core .widget[data-columns='1'] .widget-title, .tm-ui-core .widget[data-columns='2'] .widget-title, .tm-ui-core .widget[data-columns='3'] .widget-title {
    float: none; }
    .tm-ui-core .widget[data-columns='1'] .widget-title-action, .tm-ui-core .widget[data-columns='2'] .widget-title-action, .tm-ui-core .widget[data-columns='3'] .widget-title-action {
      float: none;
      padding: 5px 5px 0; }
  .tm-ui-core .widget[data-columns='1'] .widget--edit, .tm-ui-core .widget[data-columns='2'] .widget--edit, .tm-ui-core .widget[data-columns='3'] .widget--edit {
    margin: 0 2px; }
.tm-ui-core .field-settings-row_ {
  padding: 10px 0; }
  .tm-ui-core .field-settings-row_ h3 {
    margin: 0;
    padding: 0; }
  .tm-ui-core .field-settings-row_:after {
    clear: both;
    content: '';
    display: block;
    width: 100%; }
.tm-ui-core .row-heading_ {
  box-sizing: border-box;
  float: left;
  padding: 0 10px 0 0;
  width: 35%; }
  .tm-ui-core .row-heading_ label {
    color: #444;
    font-weight: bold; }
.tm-ui-core .row-control_ {
  float: left;
  width: 65%; }
.tm-ui-core .row-desc_ {
  color: #aaa;
  display: block;
  font-size: 11px; }
.tm-ui-core .radio-group_ label {
  float: left;
  margin: 0 2% 10px 0;
  width: 47%; }
.tm-ui-core .radio-group_:after {
  clear: both;
  content: '';
  display: block;
  width: 100%; }

.iconpicker {
  display: block;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-shadow: none; }
  .iconpicker * {
    box-sizing: content-box;
    position: relative; }
  .iconpicker:before, .iconpicker:after {
    content: ' ';
    display: table; }
  .iconpicker:after {
    clear: both; }
  .iconpicker-container {
    position: relative; }
    .iconpicker-container .input-group-addon {
      background: #eee;
      border-radius: 7px 0 0 7px;
      display: inline-block;
      font-size: 16px;
      height: 38px;
      left: 2px;
      line-height: 38px;
      position: absolute;
      text-align: center;
      top: 2px;
      width: 34px; }
      .iconpicker-container .input-group-addon + input.iconpicker-input {
        padding-left: 40px; }
    .iconpicker-container.dropdown-menu {
      padding: 0; }
  .dropdown-menu .iconpicker-popover.inline {
    border: none;
    margin: 0; }
  .iconpicker-popover.popover {
    background: #eee;
    display: none;
    left: 0;
    max-width: none;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 255px;
    z-index: 999; }
    .iconpicker-popover.popover.top, .iconpicker-popover.popover.topCorner, .iconpicker-popover.popover.topCorner, .iconpicker-popover.popover.topLeft, .iconpicker-popover.popover.topLeftCorner, .iconpicker-popover.popover.topLeftCorner, .iconpicker-popover.popover.topRight, .iconpicker-popover.popover.topRightCorner, .iconpicker-popover.popover.topRightCorner {
      margin-top: -10px; }
    .iconpicker-popover.popover.right, .iconpicker-popover.popover.rightTop, .iconpicker-popover.popover.rightBottom {
      margin-left: 10px; }
    .iconpicker-popover.popover.bottom, .iconpicker-popover.popover.bottomCorner, .iconpicker-popover.popover.bottomLeft, .iconpicker-popover.popover.bottomLeftCorner, .iconpicker-popover.popover.bottomRight, .iconpicker-popover.popover.bottomRightCorner {
      margin-top: 10px; }
    .iconpicker-popover.popover.left, .iconpicker-popover.popover.leftBottom, .iconpicker-popover.popover.leftTop {
      margin-left: -10px; }
    .iconpicker-popover.popover.inline {
      bottom: auto;
      box-shadow: none;
      display: inline-block;
      left: auto;
      margin: 0 0 14px 0;
      max-width: 100%;
      opacity: 1;
      position: relative;
      right: auto;
      top: auto;
      vertical-align: top;
      z-index: auto; }
      .iconpicker-popover.popover.inline > .arrow {
        display: none; }
    .iconpicker-popover.popover .popover-title {
      background-color: #eee;
      border-bottom: 1px solid #e0e0e0;
      font-size: 14px;
      line-height: 16px;
      padding: 14px; }
      .iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {
        margin: 0 0 2px 0;
        width: 210px; }
      .iconpicker-popover.popover .popover-title-text ~ input[type=search].iconpicker-search {
        margin-top: 14px; }
    .iconpicker-popover.popover .popover-content {
      padding: 0px;
      text-align: center; }
    .iconpicker-popover.popover > .arrow {
      border-width: 11px; }
      .iconpicker-popover.popover > .arrow, .iconpicker-popover.popover > .arrow:after {
        border-color: transparent;
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0; }
      .iconpicker-popover.popover > .arrow:after {
        border-width: 10px;
        content: ''; }
    .iconpicker-popover.popover.leftTop > .arrow {
      bottom: 14px;
      margin-top: 0;
      top: auto; }
    .iconpicker-popover.popover.leftBottom > .arrow {
      margin-top: 0;
      top: 14px; }
    .iconpicker-popover.popover.left > .arrow, .iconpicker-popover.popover.leftBottom > .arrow, .iconpicker-popover.popover.leftTop > .arrow {
      border-left-color: #eee;
      border-right-width: 0;
      margin-top: -11px;
      right: -11px;
      top: 50%; }
      .iconpicker-popover.popover.left > .arrow:after, .iconpicker-popover.popover.leftBottom > .arrow:after, .iconpicker-popover.popover.leftTop > .arrow:after {
        border-left-color: #fff;
        border-right-width: 0;
        bottom: -10px;
        content: ' ';
        right: 1px; }
    .iconpicker-popover.popover.top > .arrow, .iconpicker-popover.popover.topLeft > .arrow, .iconpicker-popover.popover.topRight > .arrow {
      border-bottom-width: 0;
      border-top-color: #eee;
      bottom: -11px;
      left: 50%;
      margin-left: -11px; }
      .iconpicker-popover.popover.top > .arrow:after, .iconpicker-popover.popover.topLeft > .arrow:after, .iconpicker-popover.popover.topRight > .arrow:after {
        border-bottom-width: 0;
        border-top-color: #fff;
        bottom: 1px;
        content: ' ';
        margin-left: -10px; }
    .iconpicker-popover.popover.topLeft > .arrow {
      left: 14px;
      margin-left: 0; }
    .iconpicker-popover.popover.topRight > .arrow {
      left: auto;
      margin-left: 0;
      right: 14px; }
    .iconpicker-popover.popover.right > .arrow, .iconpicker-popover.popover.rightTop > .arrow, .iconpicker-popover.popover.rightBottom > .arrow {
      border-left-width: 0;
      border-right-color: #eee;
      left: -11px;
      margin-top: -11px;
      top: 50%; }
      .iconpicker-popover.popover.right > .arrow:after, .iconpicker-popover.popover.rightTop > .arrow:after, .iconpicker-popover.popover.rightBottom > .arrow:after {
        border-left-width: 0;
        border-right-color: #fff;
        bottom: -10px;
        content: ' ';
        left: 1px; }
    .iconpicker-popover.popover.rightTop > .arrow {
      bottom: 14px;
      margin-top: 0;
      top: auto; }
    .iconpicker-popover.popover.rightBottom > .arrow {
      top: 14px;
      margin-top: 0; }
    .iconpicker-popover.popover.bottom > .arrow, .iconpicker-popover.popover.bottomRight > .arrow, .iconpicker-popover.popover.bottomLeft > .arrow {
      border-bottom-color: #eee;
      border-top-width: 0;
      left: 50%;
      margin-left: -11px;
      top: -11px; }
      .iconpicker-popover.popover.bottom > .arrow:after, .iconpicker-popover.popover.bottomRight > .arrow:after, .iconpicker-popover.popover.bottomLeft > .arrow:after {
        border-bottom-color: #fff;
        border-top-width: 0;
        content: ' ';
        margin-left: -10px;
        top: 1px; }
    .iconpicker-popover.popover.bottomLeft > .arrow {
      left: 14px;
      margin-left: 0; }
    .iconpicker-popover.popover.bottomRight > .arrow {
      left: auto;
      margin-left: 0;
      right: 14px; }
  .iconpicker-popover .popover-footer {
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    clear: both;
    float: none;
    margin: 0;
    padding: 14px;
    text-align: right; }
    .iconpicker-popover .popover-footer:before, .iconpicker-popover .popover-footer:after {
      content: ' ';
      display: table; }
    .iconpicker-popover .popover-footer:after {
      clear: both; }
    .iconpicker-popover .popover-footer .iconpicker-btn {
      margin-left: 10px; }
    .iconpicker-popover .popover-footer input[type=search].iconpicker-search {
      margin-bottom: 14px; }
  .iconpicker .iconpicker-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 42px;
    margin: 0 14px 14px 0;
    padding: 14px;
    text-align: center;
    width: 42px; }
    .iconpicker .iconpicker-items {
      background: #fff;
      clear: both;
      float: none;
      margin: 0;
      max-height: 275px;
      min-height: 55px;
      overflow: hidden;
      overflow-y: auto;
      padding: 14px 0 0 14px;
      position: relative; }
      .iconpicker .iconpicker-items:before, .iconpicker .iconpicker-items:after {
        content: ' ';
        display: table; }
      .iconpicker .iconpicker-items:after {
        clear: both; }
    .iconpicker .iconpicker-item:hover:not(.iconpicker-selected) {
      background-color: #eee; }
    .iconpicker .iconpicker-item.iconpicker-selected {
      border-color: #444; }
  .iconpicker-component {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
